%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'DashNote', root_path, class: 'navbar-brand'
    #navbar-collapse.collapse.navbar-collapse
      .nav.navbar-nav.navbar-right
        %li= link_to 'Posts', posts_path
        - if current_user.present?
          %li
            = link_to new_post_path do
              %span.glyphicon.glyphicon-plus
              New DashNote
          %li= link_to current_user.full_name, edit_user_registration_path
          %li= link_to 'Sign out', destroy_user_session_path, method: :delete
        - else
          %li= link_to 'Sign in', new_user_session_path
          %li= link_to 'Sign up', new_user_registration_path
